
.font {
    font-family: 'Oswald', sans-serif;
}

/* footer CSS */
.jumbotron{
    text-align: center;
    background-color: white;
}


.row {
    text-align: center;
    font-size: 5em;
}

#rowOne {
    padding-top: 10px;
    background-color: lightgreen;
    animation-duration: 2s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

#rowTwo {
    background-color: lightblue;
    animation-duration: 4s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

#rowThree {
    background-color: lightgoldenrodyellow;
    animation-duration: 6s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

#box {
    background-color: lightcoral;
    margin-top: 30%;
}

#feature {
    padding-top: 5px;
    padding-left: 5px;
}

.ad {
    background-color: floralwhite;
    width: 200px;
    height: 200px;
    margin: 30px;
    padding: 10px;
    border-radius: 25px;
    float: left;
    box-shadow: 10px 10px 5px #888888;
    text-align: center;

}

.box-text {
    width: 90%;
    margin: auto;
    text-align: center;
}
.boxes {
    background-color: #c6e2ff;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 25px;
}

/* ads animation
.grid {
    max-width: 69em;
    list-style: none;
    margin: 30px auto;
    padding: 0;
}

.grid li {
    display: block;
    float: left;
    padding: 7px;
    width: 33%;
    opacity: 0;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
    opacity: 1;
}

.grid li a,
.grid li img {
    outline: none;
    border: none;
    display: block;
    max-width: 100%;
}

.grid.effect-6 {
    -webkit-perspective: 1300px;
    perspective: 1300px;
}

.grid.effect-6 li.animate {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    -webkit-animation: flip .8s ease-in-out forwards;
    animation: flip .8s ease-in-out forwards;
}

@-webkit-keyframes flip {
    0% { }
    100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@keyframes flip {
    0% { }
    100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }
}
*/

